
    <!-- Scripts -->
    <script src={{ "assets/js/jquery.min.js" | absURL }}></script>
    <script src={{ "assets/js/browser.min.js" | absURL }}></script>
    <script src={{ "assets/js/breakpoints.min.js" | absURL }}></script>
    <script src={{ "assets/js/util.js" | absURL }}></script>
    <script src={{ "assets/js/main.js" | absURL }}></script>


    <script> particlesJS.load('particles-js', '/particles.json', function() {
  console.log('Particles.js config loaded'); });
    </script>




</html>
